.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.black {
    background: #111222;
}

.black-text {
    color: antiquewhite;
}

.green {
    background: forestgreen;
}

.green-text {
    color: cornsilk;
}