.affairs {

   margin-left: 10px;
   width: 300px;
   display: flex;
   flex-direction: column;

   .affair {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-top: 10px;

      p {
         margin: 0;
         align-items: center;
      }

      .affairBlock {
         width: 100px;

         .low {
            color: #7CFC00;
         }

         .middle {
            color: #FFD700;
         }

         .high {
            color: #DC143C;
         }
      }

      .btnDelete {
         display: flex;
      }

      .btnDeleteItem {
         width: 30px;
         height: 30px;
      }
   }

   .sortButton {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      height: 20px;
   }

   button {
      background-color: #b0c4de;
      border: none;
      color: #282c34;
   }
}

