.someClass {
    display: flex;
    justify-content: space-between;
    width: 300px;

}

.error {
    border: 2px solid red;
    outline: red;
}

.notError {
    border: 2px solid #b0c4de;
    outline: cadetblue;
}

.button {
    background-color: #b0c4de;
    border: none;
    color: #282c34;
    width: 60px;
    height: 20px;
}